{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title %}
  Login - TweetMe
{% endblock title %}

{% block display %}
  <div class="col-md-6 offset-md-3">
    <h1 class="text-center">Login</h1>
      <form class="" method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="col-md-10 text-center">
            <button class="col-5 offset-3 form-group btn btn-primary" type="submit">Login</button>
            <p>Already have an account?? <a href="{% url 'user:register' %}">Register</a></p>
          </div>
        </form>
    </div>
{% endblock display %}