{% extends 'base.html' %}

{% block extra_script %}
  <script>
    $(document).ready(function() {
        loadContent("#tweet-container", "/tweet-api")
    })
  </script>
{% endblock extra_script %}

{% block container %}
  <h1>Tweets</h1><br>
  <form id="tweet-form" method="post">
    {% csrf_token %}
    {{ tweet_form }}<br>
    <button class="btn btn-primary mb-2" type="submit">Tweet</button>
  </form>
  <div id="tweet-container">
  </div>
  {% include 'modal_form.html' %}
{% endblock container %}