{% load static %}

<html lang="en">
  <head>
    <title>{% block title %}TweetMe{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>

  <body class="bg-light" style="margin: 1%">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4" style="background-color: blue">
          {% block user %}
            <div class="card text-center" style=";">
              <!-- <img src="..." class="card-img-top" alt="..."> -->
              <div class="card-body">
                <h5 class="card-title">{{request.user.get_full_name}}</h5>
                <p class="card-text">@{{ request.user.username }}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          {% endblock user %}
        </div>
        <div class="col-sm-8" style="background-color: green">
          {% block container %}
          {% endblock container %}
        </div>
      </div>
    </div>
    <script>
      const currentURL = window.location;
      const logged_user = "{{ request.user }}";
    </script>
    <script src="{% static 'js/google-jq.js' %}"></script>
    <script src="{% static 'js/tweet.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block extra_script %}
    {% endblock extra_script %}
  </body>
</html>
