<div class="card text-center mx-n3">
  <a href="{{ for_user.userprofile.profile_pic.url }}">
      <img src="{{ for_user.userprofile.profile_thumb.url }}" class="card-img-top rounded-circle"
           style="width: 70%">
    </a>
  <div class="card-body">
    <h5 class="card-title">{{for_user.get_full_name}}</h5>
    <p class="card-text">@{{ for_user.username }}</p>
    {% if request.user != for_user %}
      <button id="follow-user-button" class="btn btn-outline-primary" onclick="followUser(this)">{{follow_text}}</button>
    {% endif %}
    <table class="table table-borderless text-center" style="margin-bottom: -20px;">
      <thead class="text-muted">
        <tr class="mb-n5">
          <th><small class="font-weight-bolder">Tweet</small></th>
          <th><small class="font-weight-bolder">Following</small></th>
          <th><small class="font-weight-bolder">Followers</small></th>
        </tr>
      </thead>
      <tbody class="text-primary font-weight-bolder pt-n4">
        <tr>
          <td id="posts-count">{{ for_user.post_set.count }}</td>
          <td id="following-count">{{ for_user.userprofile.following.count }}</td>
          <td id="followers-count">{{ for_user.following_me.count }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
