<div class="card text-center mx-n3">
  <a href="{{ for_user.userprofile.profile_pic.url }}">
      <img src="{{ for_user.userprofile.profile_thumb.url }}" class="card-img-top rounded-circle"
           style="width: 70%">
    </a>
  <div class="card-body">
    <h5 class="card-title">{{for_user.get_full_name}}</h5>
    <p class="card-text">@{{ for_user.username }}</p>
    {% if request.user != for_user %}
      <button id="follow-user-button" class="btn btn-outline-primary" onclick="followUser(this)">{{follow_text}}</button>
    {% endif %}
    <table class="table table-borderless text-center" style="margin-bottom: -20px;">
      <thead class="text-muted">
        <tr class="mb-n5">
          <th><small class="font-weight-bolder">
            <a class="text-muted" href="{% url 'user:user_posts' for_user.username %}">
              Tweets
            </a>
          </small></th>
          <th><small class="font-weight-bolder">
            <a class="text-muted" href="{% url 'user:user_following' for_user.username %}">
              Following
            </a>
          </small></th>
          <th><small class="font-weight-bolder">
            <a class="text-muted" href="{% url 'user:user_followers' for_user.username %}">
              Followers
            </a>
          </small></th>
        </tr>
      </thead>
      <tbody class="text-primary font-weight-bolder pt-n4">
        <tr>
          <td id="posts-count">
            <a href="{% url 'user:user_posts' for_user.username %}">
              {{ for_user.post_set.count }}
            </a>
          </td>
          <td id="following-count">
            <a href="{% url 'user:user_following' for_user.username %}">
              {{ for_user.userprofile.following.count }}
            </a>
          </td>
          <td id="followers-count">
            <a href="{% url 'user:user_followers' for_user.username %}">
              {{ for_user.following_me.count }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
